<% unless tree.blank? %>
  <i class='comments_tree' style='display:none'>
    <i class='data'><%=   tree.to_json              %></i>
    <i class='locale'><%= t(:comments_tree).to_json %></i>
    <i class='klass'><%=  opts[:klass]              %></i>
    <i class='plural'><%= opts[:klass].pluralize    %></i>
    <i class='rebuild_url'><%= url_for(:controller => opts[:klass].pluralize, :action => :rebuild) %></i>
  </i>
<% end %>

<div id='new_comment_holder'>
  <div id='new_comment_block'>
    <%= form_for Comment.new do |f| %>
      <label>Name:</label>
      <p><%= f.text_field :name %></p>

      <label>Email:</label>
      <p><%= f.text_field :email %></p>

      <label>Content:</label>
      <p><%= f.text_area :raw_content %></p>

      <%= f.hidden_field :parent_id %>

      <%= f.submit 'New Comment' %>
    <% end %>
  </div>
</div>