<h1><%= tree.size %></h1>

<div class='tree_block'>
  <ol class='tree'>
    <%= server_build_tree(tree) %>
  </ol>
</div>

<% unless tree.blank? %>
  <i class='render_tree' style='display:none' data-locale="<%= t(:tree).to_json %>" data-klass="<%= opts[:klass] %>" data-plural="<%= opts[:klass].pluralize %>">
  </i>
<% end %>

<% tree.each do |item| %>

  <li>
    <div class='item'>
    <h4><a href='#'><%= item.title %></a></h4>
    <p><%=  item.content %></p>
    </div>
  </li>

<% end %>