<!DOCTYPE html>
<html>
<head>
  <title>TheSortableTreeTest</title>
  <%= stylesheet_link_tag    :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>

  <%= yield :css %>
  <%= yield :js %>

</head>
<body>

  <div class='ma w80p p20'>
    <%= yield %>
  </div>

</body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</html>
