= render :partial => "#{opts[:path]}/js_init_sortable_tree"
= render :partial => "#{opts[:path]}/js_on_update_tree"
= render :partial => "#{opts[:path]}/js_rebuild_ajax", :locals => { :opts => opts }
%ol.sortable.ui-sortable.nested_set{ :id => "#{opts[:klass]}_nested_set" }
  = raw tree
= render :partial => "#{opts[:path]}/new", :locals => { :opts => opts }